<div class="row top" *ngIf="!pri">
    <div class="col-md-2 top1">
        <button (click)="exportAsXLSX()" mdbBtn class="btn btn-success" mdbWavesEffect>
            <i class="fas fa-file-excel"></i>
        </button>
        &nbsp;
        <button (click)="print('v-pills-profile1')" mdbBtn class="btn btn-danger" mdbWavesEffect>
            <i class="far fa-file-pdf"></i>
        </button>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-6 alert alert-secondary  text-center">
        INFORME DE HORAS TRABAJADAS POR SECCIÓN

    </div>
</div>



<section class="top animate__animated animate__fadeIn" id="v-pills-profile1" *ngIf="!pri">


    <table class="table datatable-table table-sm"
    mdbTable
    mdbTableSort
    #table="mdbTable"
    #sort="mdbTableSort"
    [dataSource]="data"
    [sort]="sort">

    <thead class="grey lighten-1  text-white">
        <tr>
            <th>SECCIÓN</th>
            <th>ID. SEC.</th>
            <th>ENERO</th>
            <th>FEBRERO</th>
            <th>MARZO</th>
            <th>ABRIL</th>
            <th>MAYO</th>
            <th>JUNIO</th>
            <th>JULIO</th>
            <th>AGOSTO</th>
            <th>SEPTIEMBRE</th>
            <th>OCTUBRE</th>
            <th>NOVIEMBRE</th>
            <th>DICIEMBRE</th>
          </tr>
        </thead>
        <tbody *ngIf=" !loading" class="datatable-body" >
            <tr *ngFor="let puestoData of datos">
                <td>{{puestoData.descripcionPuesto}}</td>
                <td>{{ puestoData.puesto }}</td>
                <td *ngFor="let mes of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                  {{ (puestoData.meses[mes]?.horas || 0) + 
                     (puestoData.meses[mes]?.hora1 || 0) + 
                     (puestoData.meses[mes]?.hora2 || 0) + 
                     (puestoData.meses[mes]?.hora3 || 0) + 
                     (puestoData.meses[mes]?.bolsa1 || 0) + 
                     (puestoData.meses[mes]?.bolsa2 || 0) + 
                     (puestoData.meses[mes]?.bolsa3 || 0) + 
                     (puestoData.meses[mes]?.bolsa4 || 0) }}
                </td>
              </tr>
              
                <!-- Pie de tabla con los totales -->
                <tr class="alert alert-warning">
                  <td colspan="2">TOTALS</td>
                  <td>{{totalEnero | number}}</td>
                  <td>{{totalF | number}}</td>
                  <td>{{totalM | number}}</td>
                  <td>{{totalA | number}}</td>
                  <td>{{totalMa | number}}</td>
                  <td>{{totalJu | number}}</td>
                  <td>{{totalJul | number}}</td>
                  <td>{{totalAgo | number}}</td>
                  <td>{{totalSep | number}}</td>
                  <td>{{totalOct | number}}</td>
                  <td>{{totalNo | number}}</td>
                  <td>{{totalDic | number}}</td>
                </tr>
              </tbody>
      
    </table>
    <ng-container *ngIf="loading">
        <div class="datatable-loader bg-light">
          <span class="datatable-loader-inner">
            <span class="datatable-progress bg-primary"></span>
          </span>
        </div>
        <p class="text-center text-muted my-4">Cargando resultados...</p>
      </ng-container>
    <hr>

</section>



