<div class="" role="document">
    <div class="row">
        <div class="col">
            <img class="margen animetd fadeIn" src="assets/img/807.gif" alt="CTC">
        </div>
        <br>
        <div class="col">
            <div class="h4 text-white salto">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <i class="fas fa-file-excel text-success"></i> Cargando excel... </div>
                <br>
            <div class="h6 text-center salto alert alert-danger">
                Esta acción puede tardar varios minutos.</div>
        </div>
    </div>