<div class="limiter">
  <div class="container-login100">
      <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
              <img src="assets/img/img-01.png" alt="IMG">
          </div>
          <form #forma="ngForm" (ngSubmit)="login(forma)" class="login100-form validate-form">
              <span class="login100-form-title bold-900 js-tilt ">
                  <!-- <img src="assets/img/logo-web.png" alt="IMG" width="220"> -->
                   <hr class="hr">
                  <br> 
                 <span>CTC CONTROL</span>
              </span>

              <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                  <input class="input100" autocomplete="off" name="nombreUsuario" required ngModel type="text" placeholder="Usuario">
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                      <i class="fa fa-user" aria-hidden="true"></i>
                  </span>
              </div>

              <div class="wrap-input100 validate-input" data-validate="Password is required">
                  <input class="input100" name="password" autocomplete="off" required ngModel type="password" placeholder="Contraseña">
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                      <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
              </div>
            
              <div class="container-login100-form-btn">
                  <button *ngIf="!estado" [disabled]="forma.invalid" mdbBtn class="login100-form-btn">
                          <i class="far fa-paper-plane ml-1"> </i>  &nbsp;  ingresar
                  </button>
              </div>
              <div *ngIf="estado">
                  <div class="spinner-grow text-primary" role="status">
                  </div>
                  <div class="spinner-grow text-primary" role="status">
                  </div>
                  <div class="spinner-grow text-secondary" role="status">
                  </div>
                  <div class="spinner-grow text-success" role="status">
                  </div>
                  <div class="spinner-grow text-danger" role="status">
                  </div>
                  <div class="spinner-grow text-warning" role="status">
                  </div>
                  <div class="spinner-grow text-info" role="status">
                  </div>
                  <div class="spinner-grow text-light" role="status">
                  </div>
                  <div class="spinner-grow text-dark" role="status">
                  </div>
                  <div class="text-center ">
                      <p class="color">Cargando página principal...</p>
                  </div>
              </div>

              <div class="text-center p-t-12">
                  <span class="txt1">
                  Olvido
              </span>
                  <a class="txt2" href="mailto:dpennisi@randstad.com">
                  Usuario / Contraseña?
              </a>
              </div>

              <div class="text-center p-t-136">
                 
              </div>
          </form>
          <!-- </form> -->
      </div>
  </div>
</div>