
<app-menu></app-menu>

<div class="loading-modal" *ngIf="loadingPerfil">
  <div class="dots-loader">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p>Cargando...</p>
</div>

<section class="top animate__animated animate__fadeIn " *ngIf="!loadingPerfil">
    &nbsp;
    <form class="margin" #action="ngForm" (ngSubmit)="buscar(action)">
        <div class="row form-row">
            <div class="col-md-2">
                <p class="text-center text-primary">Fecha Inicio</p>
                <input type="date" required name="fechaInicio" ngModel class="form-control ">

            </div>
            <div class="col-md-2">
                <p class="text-center text-primary">Fecha Fin</p>
                <input type="date" name="fechaFinal" ngModel class="form-control ">
            </div>
            <div class="col-md-2 tops">
                <button type="button" (click)="filtrarModal()" class="btn btn-primary">Turnos</button>

            </div>

            <input type="hidden" name="idServicio" [(ngModel)]="idServicio">
            <input type="hidden" name="turnos" [(ngModel)]=" this.filtarTuros">
            <div class="col-md-2 tops" *ngIf="mos">
                <button *ngIf="!mostrarBtn" [disabled]="action.invalid" type="submit" mdbBtn c class=" btn btn-primary btn-sm" mdbWavesEffect>
                    <i class="fas fa-search"></i>
                </button>
                <button *ngIf="mostrarBtn" disabled type="submit" mdbBtn c class=" btn btn-primary btn-sm" mdbWavesEffect>
                    <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Loading...</span>
                </button>
            </div>
            &nbsp;
            <div class="col-md-2 tops" *ngIf="justi">
                <button type="button" (click)="print('printer')" mdbBtn class="btn btn-danger" mdbWavesEffect>
                    <i class="far fa-file-pdf"></i>
                </button>
            </div>
        </div>
    </form>
    <hr class="hr">
    <br>
    <ng-container *ngIf="mostrarBtn">
        <div class="datatable-loader bg-light">
          <span class="datatable-loader-inner">
            <span class="datatable-progress bg-primary"></span>
          </span>
        </div>
        <p class="text-center text-muted my-4">Cargando resultados...</p>
      </ng-container>
  
 
      <ng-template #noData>
        <p>No hay programaciones disponibles.</p>
      </ng-template>
     <div *ngIf="justi" class="" id="htmlData" style="border: 1px solid black; padding: 10px;">

      <div class="containers" *ngIf="programacionesPorFecha && !mostrarBtn; else noData" id="htmlData">
        <div *ngFor="let fecha of programacionesPorFecha | keyvalue" class="fecha row">
          <h3 class="text-center text-capitalize ">{{ fecha.key | date: 'fullDate' }}</h3>
      
          <!-- Mostrar los turnos agrupados por horario -->
          
          <!-- Turnos de la mañana -->
          <div class="card col" *ngIf="tieneTurnosPorHorario(fecha.key, 'M')">
            <div class="card-header">
              <h4>Turnos de la mañana</h4>
              <p>{{ getTurnosPorHorario(fecha.key, 'M') | joinMap: 'turno_dia' }} (M)</p>
            </div>
            <div class="card-body">
              <ul>
                <li *ngFor="let turm of getTurnosPorHorario(fecha.key, 'M')">
                  <strong>{{ turm.turno_dia }} ({{ turm.horario }})</strong>
                  <ul>
                    <li *ngFor="let programacion of getPersonasPorTurno(fecha.key, 'M', turm.turno_dia)">
                      {{ programacion.apellidos }}, {{ programacion.nombre }}
                      <span *ngIf="programacion.horasAusentes > 0"> - HS A{{ programacion.horasAusentes }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
      
          <!-- Turnos de la tarde -->
          <div class="card col" *ngIf="tieneTurnosPorHorario(fecha.key, 'T')">
            <div class="card-header">
              <h4>Turnos de la tarde</h4>
              <p>{{ getTurnosPorHorario(fecha.key, 'T') | joinMap: 'turno_dia' }} (T)</p>
            </div>
            <div class="card-body">
              <ul>
                <li *ngFor="let turm of getTurnosPorHorario(fecha.key, 'T')">
                  <strong>{{ turm.turno_dia }} ({{ turm.horario }})</strong>
                  <ul>
                    <li *ngFor="let programacion of getPersonasPorTurno(fecha.key, 'T', turm.turno_dia)">
                      {{ programacion.apellidos }}, {{ programacion.nombre }}
                      <span *ngIf="programacion.horasAusentes > 0"> - HS A{{ programacion.horasAusentes }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
      
          <!-- Turnos de la noche -->
          <div class="card col" *ngIf="tieneTurnosPorHorario(fecha.key, 'N')">
            <div class="card-header">
              <h4>Turnos de la noche</h4>
              <p>{{ getTurnosPorHorario(fecha.key, 'N') | joinMap: 'turno_dia' }} (N)</p>
            </div>
            <div class="card-body">
              <ul>
                <li *ngFor="let turm of getTurnosPorHorario(fecha.key, 'N')">
                  <strong>{{ turm.turno_dia }} ({{ turm.horario }})</strong>
                  <ul>
                    <li *ngFor="let programacion of getPersonasPorTurno(fecha.key, 'N', turm.turno_dia)">
                      {{ programacion.apellidos }}, {{ programacion.nombre }}
                      <span *ngIf="programacion.horasAusentes > 0"> - HS A{{ programacion.horasAusentes }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
      
        </div>
      </div>
      
    </div>
    
</section>