
<div class="modal-header bg-secondary text-white">
  <h5 class="modal-title  text-uppercase" id="exampleModalLabel">Cargar documento </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>


<div class="modal-body">
 
  <div class="row">

    <form #for="ngForm" (ngSubmit)="upload()">
      <!-- <label>Nombre archivo:</label> -->
      <input type="hidden" [(ngModel)]="archivo.nombre" name="file">
      <input type="hidden" [(ngModel)]="archivo.idDocumento" name="idDocumento">
      <div class="file-field md-form">
          <!-- <div mdbBtn floating="true" size="md" gradient="purple" mdbWavesEffect>
              <mdb-icon fas icon="cloud-upload-alt" aria-hidden="true"></mdb-icon>
              <input type="file" mdbFileSelect (change)="seleccionarArchivo($event)">
          </div>
          <div class="file-path-wrapper mt-3">
              <input required class="file-path" type="text" placeholder="Cargue su documento" [value]="archivo.nombreArchivo">
          </div> -->
          <input class="form-control" type="file" id="formFileDisabled"  (change)="seleccionarArchivo($event)" />
      </div>

      <div class="">
          Inicio del documento
          <input required class="form-control" type="date" placeholder="Fecha de Carga" [(ngModel)]="archivo.fechaSubido" name="fechaSubido">
      </div>

      <div class="" *ngIf="!caduDocu">
          Fecha de caducidad
          <input required class="form-control" type="date" placeholder="Fecha de Caducidad" [(ngModel)]="archivo.caducidad" name="caducidad">
      </div>
      <div class="alert alert-warning top" *ngIf="caduDocu">
          Este documento no tiene fecha de caducidad
      </div>
      <br>
      <button [disabled]="for.invalid" *ngIf="!cargar"  type="button"  class="btn btn-secondary" (click)="upload()" mdbWavesEffect>Comenzar la carga </button>
      <div *ngIf="cargar" class="alert alert-success">
          Archivo cargado correctamente
      </div>
  </form>
</div>
        
</div>
<div class="modal-footer">
  <button  type="button" class="btn btn-secondary" (click)="modalRef.close()">
   NO, GRACIAS
  </button>
</div>

