<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['../Empleados']">
            <i class="fas fa-user-friends"></i> Empleados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['../Papelera']">
            <i class="fas fa-trash-alt"></i> Papelera</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['../Justificaciones']">
            <i class="fas fa-briefcase-medical"></i> Justificaciones</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['../Solicitudes']">
            <i class="fas fa-calendar-week"></i> Solicitudes</a>

    </li>
</ul>
