<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['../Empleados']">
            <mdb-icon fas icon="users"></mdb-icon> Empleados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['../Papelera']">
            <mdb-icon fas icon="trash-restore-alt"></mdb-icon> Papelera</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['../Justificaciones']">
            <mdb-icon fas icon="scroll"></mdb-icon> Justificaciones</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['../Solicitudes']">
            <mdb-icon fas icon="calendar-week"></mdb-icon> Solicitudes</a>

    </li>

</ul>
