
<app-menu></app-menu>
<section class="top animate__animated animate__fadeIn" >
    <div class="container py-5">
        <hr class="hr">
  
      <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-5">
          <div class="card" id="chat3" style="border-radius: 15px;">
            <div class="card-body">
                <div class="col-md-12 text-md-left ml-3 mt-3">
                    <a href="#!" class="green-text">
                        <h6 class="h6 pb-1">
                            <mdb-icon fas icon="desktop" class="pr-1"></mdb-icon> Solo acepta archivos .csv</h6>
                    </a>
                    <form #for="ngForm" (ngSubmit)="upload()">
    
                        <label class="form-label" for="customFile">Cargue su archivo</label>
                        <input [value]="archivo.nombreArchivo" type="file" class="form-control" id="customFile" (change)="seleccionarArchivo($event)" />
                        <br>
                        <button [disabled]="for.invalid" *ngIf="!cargar" mdbBtn type="button"  class="btn btn-primary" (click)="upload()" mdbWavesEffect>Comenzar la carga </button>
                        <div *ngIf="cargar" class="alert alert-success">
                            Archivo cargado correctamente
                        </div>
                    </form>
        
                </div>
            </div>
          </div>
         </div>
        </div>
    </div>
</section>