<app-menu></app-menu>


<section class="top animate__animated animate__fadeIn" id="arriba">

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" *ngIf="!verEmpleado && tipoUsuario == 'A2020'">

       
        <a class="btn text-white btn-lg btn-floating" routerLink="../Add-Empleados" style="background-color: #ac2bac;" href="#!" role="button"  mdbRipple>
            <i class="fas fa-folder-plus"></i>
          </a>
    </div>

    <div class="main" *ngIf="!verEmpleado">
        <div class="row">
            <div class="col-md-5 tops" *ngIf="tipoUsuario == 'A2020'">
                <app-menu-s></app-menu-s>
            </div>
            <div class="col-md-2 tops">

                <div class="input-group mb-3">
                    <span class="input-group-text " id="search-addon"><i class="fas fa-search"></i></span>
                    <input autocomplete="off" (keyup)="search($event)" [(ngModel)]="filterQuery" type="search" class="form-control rounded" placeholder="Buscar empleado" aria-label="Search"
                      aria-describedby="search-addon" />
                  </div>

            </div>

            <div class="col-md-2 tops" *ngIf="tipoUsuario == 'A2020'">
                <button (click)="exportAsXLSX('admin')" class="btn btn-outline-success" mdbRipple rippleColor="dark">
                    DESCARGAR LISTADO &nbsp;<i class="far fa-file-excel  fa-lg "></i>
                 </button>
            </div>
            <div class="col-md-2 tops" *ngIf="tipoUsuario == 'E2020'">
                <button (click)="excelencar(encar)" class="btn btn-outline-success" mdbRipple rippleColor="dark">
                    DESCARGAR LISTADO &nbsp;<i class="far fa-file-excel  fa-lg "></i>
                 </button>
            </div>
            <div class="col-md-3 tops" *ngIf="tipoUsuario == 'A2020'">
                <a href="{{url}}calendario/documentosO.php?idServicio={{idServicio}}&ruta=Qtryuuidsdd458" target="_blank" class="btn btn-outline-secondary" mdbRipple rippleColor="dark">
                DOCUMENTOS   <i class="fas fa-search"></i>
                </a>
                &nbsp;
                <a href="{{url}}calendario/puestosO.php?idServicio={{idServicio}}&ruta=Qtryuuidsdd459" target="_blank" class="btn btn-outline-secondary" mdbRipple rippleColor="dark">
                    PUESTOS   <i class="fas fa-search"></i>
                </a>
            </div>
           
            <div class="col-md-12 text-center top">
                <div class="alert alert-secondary">
                    Empleados registrados: {{dataTotal}}

                </div>
            </div>
        </div>
      </div>

      <div class="row animated fadeIn tb1" *ngIf="!verEmpleado">
        <table class="table datatable-table table-sm"
            mdbTable
            mdbTableSort
            #table="mdbTable"
            #sort="mdbTableSort"
            [dataSource]="dataSource"
            [sort]="sort"
            [pagination]="pagination">
      
            <thead class="grey lighten-1  text-white">
                <tr>
                    <th>N° Empleado</th>
                    <th>Contrato</th>
                    <th>DNI</th>
                    <th>Nombre </th>
                    <th>Apellidos </th>
                    <th>Consentimiento</th>
                    <th class="text-center">Info</th>
                    <th *ngIf="tipoUsuario == 'A2020'">Baja</th>
                    <th>Contraseña</th>
                </tr>
            </thead>
            <tbody *ngIf="dataTotal > 0 && !loading" class="datatable-body" >
                <tr *ngFor="let item of table.data">
                    <td>{{item.nEmpleado}}</td>
                    <td class="text-uppercase">{{item.empresa}}</td>
                    <td class="text-uppercase">{{item.dni}}</td>
                    <td class="text-uppercase">{{item.nombre}}</td>
                    <td class="text-uppercase">{{item.apellidos}} &nbsp; <span *ngIf="item.fechaBaja" class="text-danger">LA BAJA SERÁ EL  : {{item.fechaBaja | date: 'mediumDate'}}</span></td>
                    <td class="text-uppercase  bg-propio" *ngIf="item.consentimientos == 1">SMS Activado</td>
                    <td class="text-uppercase bg-propio1" *ngIf="item.consentimientos == 0">SMS desactivado</td>
                    <td  class=" cursor q text-center text-primary" (click)="empleado(item)">
                        <i class="fas fa-user-plus "></i>
                    </td>
                    <td  *ngIf="tipoUsuario == 'A2020'" (click)="modal(item)"  class=" cursor q text-danger">
                        <i class="fas fa-trash-alt fa-lg "></i>
                    </td>
                    <td>
                        <button (click)="reset(item.nEmpleado)"  class="btn text-white btn-sm" style="background-color: #ec4a89;" mdbWavesEffect>Resetear</button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="dataTotal == 0">
                <tr>
                    <td colspan="7">
                        <p class="text-center text-warning h3">No hay empleados registrados</p>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <mdb-table-pagination rowsPerPageText="Lineas por página" ofText="De" #pagination></mdb-table-pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
        <ng-container *ngIf="loading">
            <div class="datatable-loader bg-light">
              <span class="datatable-loader-inner">
                <span class="datatable-progress bg-primary"></span>
              </span>
            </div>
            <p class="text-center text-muted my-4">Cargando resultados...</p>
          </ng-container>
    </div>


        <!-- Operario y foto -->
        <div class="" *ngIf="verEmpleado && !editar">
            <div class="row">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div *ngIf="controlB" class="col-md-1 cursor" (click)="print('v-pills-profile' , employees.apellidos)">
                    <img [src]="employees.foto" alt="avatar" width="100">
                </div>
                <div class="col-md-1" *ngIf="!controlB">
                    <img [src]="employees.foto" alt="avatar" width="100">
                </div>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                <div class="col-md-3 top">
                    <i ngClass="fas fa-edit fa-2x" *ngIf="tipoUsuario == 'A2020'" (click)="edit()"   class="text-warning cursor"></i>
                    <!-- <mdb-icon *ngIf="tipoUsuario != 'A2020'" fas icon="edit" size="2x" class="text-warning cursor"></mdb-icon> -->
                    <strong class="text">&nbsp; {{ employees.nombre }} {{ employees.apellidos }}</strong>
                    <br>
                    <small *ngIf="tipoUsuario == 'A2020'" class="bajo">DNI/NIF: {{employees.dni}}</small>
                    <small *ngIf="tipoUsuario != 'A2020'">DNI/NIF: {{employees.dni}}</small>
                    <br>
                    <small class="text" *ngIf="employees.activo == 1">Trabajador  activo</small>
                    <br>
                    <small class="text-danger" *ngIf="employees.categoriaE">Categoría: {{employees.categoriaE}}  </small>
                    <small class="text-danger" *ngIf="!employees.categoriaE">Categoría: ---  </small>
                    <br>
                    <small class="text-success" *ngIf="employees.bocadillo == 'B'">Plus incluido  </small>
                    <!-- <small class="text-danger" *ngIf="!employees.categoriaE">{{employees.categoriaE}}  </small> -->
    
                </div>
                <div class="col-md-4" [ngClass]="{'h4 text-danger ':coment}">
                    <span class="padding text-uppercase" [ngClass]="{'alert alert-primary':coment}">{{coment}}</span>
                </div>
    
                <div class="col-md-2 top">
                    <!-- <button type="button" mdbBtn outline="true" color="warning" size="sm" class="waves-effect"> Nueva consulta</button> -->
                    <a routerLink="../empleados" class="btn btn-outline-success" role="button" (click)="salir()">
                        <i class="fas fa-arrow-circle-left"></i> Nueva consulta</a>
                </div>
            </div>
            <br>
            <!-- Menu vertical -->
            <div class="row">
                <div class="col-12 ">
                    <mdb-tabs [pills]="true" [vertical]="true" class="margin">
                        <mdb-tab class="col-2" class="home"> <ng-template mdbTabTitle><span><i class="fas fa-chalkboard-teacher"></i> Perfil</span></ng-template>
                            <div class="col-12" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <table class="table table-borderless">
                                    <thead class="grey lighten-1  text-white">
                                        <tr>
                                            <th scope="col">Puesto</th>
                                            <th scope="col">Turno</th>
                                            <th scope="col">Teléfono</th>
                                            <th scope="col">Tel. Opcional</th>
                                            <th scope="col">Email Opcional</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ employees.descripcionPuesto}}</td>
                                            <td>{{ employees.descripcion}}</td>
                                            <td>{{ employees.telefono1}}</td>
                                            <td *ngIf="employees.telefono2 == null">------------</td>
                                            <td *ngIf="employees.telefono2 != null">{{ employees.telefono2}}</td>
                                            <td *ngIf="employees.email == null">------------</td>
                                            <td *ngIf="employees.email != null">{{ employees.email}}</td>
                                        </tr>
                                    </tbody>
                                    <hr class="hr">
        
                                    <thead class="grey lighten-1  text-white">
                                        <tr>
                                            <th scope="col">Antiguedad</th>
                                            <th scope="col">Contrato</th>
                                            <th scope="col">Nacimiento</th>
                                            <th scope="col">Nro. Empleado</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-primary italic" *ngIf="employees.fechaReincorporacion">Primera entrada:</span> {{ employees.fechaInicio | date : 'mediumDate'}}
                                                <br *ngIf="employees.fechaReincorporacion">
                                                <span class="text-primary italic" *ngIf="employees.fechaReincorporacion">Reincorporación:</span> {{ employees.fechaReincorporacion | date : 'mediumDate'}} <br>
                                                <span class="text-danger"> ({{ (hoy | number)}}) Años</span>
                                            </td>
                                            <td class="text-uppercase">{{ employees.empresa}}</td>
                                            <td>{{ employees.fechaNacimiento | date : 'mediumDate'}}
                                                <br>
                                                <span class="text-danger"> ({{ edad }} años)</span>
                                            </td>
                                            <td>{{ employees.nEmpleado}}</td>
                                        </tr>
                                    </tbody>
                                </table>
        
                                <tfoot>
                                    <div class="chip" *ngFor="let item of puestosAsignados">
                                        <div class="chip-content" *ngIf="item.descripcionPuesto">{{item.descripcionPuesto}}</div>
                                        <i class="fas fa-times cursor fa-2x chip-svg" *ngIf="tipoUsuario == 'A2020'"  (click)="borrarAsignacion(item.idEPuesto,item.nEmpleado)"></i>
                                    </div>
        
                                    <div class="chip" *ngIf="puestosAsignados == null">
                                        <span>El trabajador no tiene puestos asignados.</span>
                                    </div>
                                </tfoot>
                            </div>
                        </mdb-tab>
                        <mdb-tab title="Profile"><ng-template mdbTabTitle><span><i class="fas fa-stopwatch"></i> Horas</span></ng-template>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="border alert k padding">Días de vacaciones disfrutados: <span class="text-primary"> {{vaciones}}</span></h5>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="border alert k padding">Días de vacaciones asignadas: <span class="text-primary"> {{vacionesT}}</span></h5>
                                </div>
                            </div>

                            <!-- tabla -->
                            <div class="row">
                                <div class="col-md-2">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr class="grey lighten-1  text-white">
                                                <td class="">Mes</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of meses">
                                                <td class="text-uppercase ">{{item}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
    
                                <div class="col-md-3 tabl">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr class="grey lighten-1  text-white">
                                                <td class="text-center">Horas trabajadas</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of mesTra">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
                                        <tr *ngFor="let item of mesFe">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
                                        <tr *ngFor="let item of mesMar">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
                                        <tr *ngFor="let item of mesAbr">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
                                        <tr *ngFor="let item of mesMay">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
                                        <tr *ngFor="let item of mesJun">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
                                        <tr *ngFor="let item of mesJul">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
                                        <tr *ngFor="let item of mesAgo">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
                                        <tr *ngFor="let item of mesSet">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
                                        <tr *ngFor="let item of mesOct">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
                                        <tr *ngFor="let item of mesNov">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
                                        <tr *ngFor="let item of mesDic">
                                            <td class="text-center" *ngIf="item.mesHora">{{item.mesHora}}</td>
                                            <td class="text-center" *ngIf="!item.mesHora">-----</td>
                                        </tr>
    
                                    </tbody>
                                        <tfoot>
                                            <td class="text-center text-primary h4">{{ totalHTrabajadas }}</td>
                                        </tfoot>
    
                                    </table>
                                </div>
    
                                <!-- Horas teoricas -->
    
    
                                <div class="col-md-3 tabl">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr class="grey lighten-1  text-white">
                                                <td class="text-center">Horas teóricas</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of mesTra1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesTraB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesTraB">0</td>
                                            <td class="text-center" *ngIf="mesTraB">------</td>
                                        </tr>
                                        <tr *ngFor="let item of mesFe1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesFeB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesFeB">0</td>
                                            <td class="text-center" *ngIf="mesFeB">------</td>
                                        </tr>
                                        <tr *ngFor="let item of mesMar1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesMarB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesMarB">0</td>
                                            <td class="text-center" *ngIf="mesMarB">------</td>
                                        </tr>
                                        <tr *ngFor="let item of mesAbr1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesAbrB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesAbrB">0</td>
                                            <td class="text-center" *ngIf="mesAbrB">------</td>
                                        </tr>
                                        <tr *ngFor="let item of mesMay1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesMayB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesMayB">0</td>
                                            <td class="text-center" *ngIf="mesMayB">------</td>
                                        </tr>
                                        <tr *ngFor="let item of mesJun1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesJulB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesJulB">0</td>
                                            <td class="text-center" *ngIf="mesJulB">------</td>
                                        </tr>
                                        <tr *ngFor="let item of mesJul1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesJulB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesJulB">0</td>
                                            <td class="text-center" *ngIf="mesJulB">------</td>
                                        </tr>
                                        <tr *ngFor="let item of mesAgo1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesAgoB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesAgoB">0</td>
                                            <td class="text-center" *ngIf="mesAgoB">------</td>
                                        </tr>
                                        <tr *ngFor="let item of mesSet1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesSetB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesSetB">0</td>
                                            <td class="text-center" *ngIf="mesSetB">------</td>
                                        </tr>
                                        <tr *ngFor="let item of mesOct1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesOctB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesOctB">0</td>
                                            <td class="text-center" *ngIf="mesOctB">------</td>
                                        </tr>
                                        <tr *ngFor="let item of mesNov1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesNovB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesNovB">0</td>
                                            <td class="text-center" *ngIf="mesNovB">------</td>
                                        </tr>
                                        <tr *ngFor="let item of mesDic1">
                                            <td class="text-center text-danger" *ngIf="item.horasTeoricas && !mesDicB">{{item.horasTeoricas}}</td>
                                            <td class="text-center" *ngIf="!item.horasTeoricas && !mesDicB">0</td>
                                            <td class="text-center" *ngIf="mesDicB">------</td>
                                        </tr>
                                    </tbody>
                                        <tfoot>
                                            <td class="text-center text-primary h4">{{ totalHTeoricas }}</td>
                                        </tfoot>
                                    </table>
                                </div>
    
    
                                <div class="col-md-5 tabl" *ngIf="bolsaHabilitado">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr class="grey lighten-1  text-white">
                                                <td class="text-center">Bolsa horas</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of mesTraBolsa">
                                                <td class="text-center" *ngIf="item.mesBolsa">{{item.mesBolsa}}</td>
                                                <td class="text-center" *ngIf="!item.mesBolsa">0</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <td class="text-center text-primary h4">{{ totalHTeoricas - horaConvenios + totalHTrabajadasBolsa}}</td>
                                            <!-- <td class="text-center text-primary h4">{{ totalHTeoricas}}</td>
                                            <td class="text-center text-primary h4">{{ horaConvenios }}</td> -->
                                            <tr>
    
                                                <blockquote class="blockquote">
                                                    <p class="mb-0">{{texto}}</p>
                                                </blockquote>
                                                <!-- <cite>BOLSA HORAS = HORAS TEÓRICAS - HORAS CONVENIO + BOLSA DE HORAS</cite> -->
    
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-md-6 " *ngIf="!pri">
                                    <button class="btn btn-outline-success" (click)="descarga()"> <mdb-icon fas icon="file-excel"></mdb-icon> Excel</button>
                                </div>
                            </div>
                        </mdb-tab>
                        <mdb-tab  title="Messages"> <ng-template mdbTabTitle > <span (click)="getDocu(employees.nEmpleado)"><i class="fas fa-file-invoice" > </i> Documentos</span></ng-template>
                                <span *ngFor="let titul of tit">
                                        <td colspan="3" *ngIf="tipoUsuario == 'A2020'">
                                            <h6 class="text-warning cursor text-uppercase" (click)="cargarPdf(employees.nEmpleado , titul.idDocumento ,titul.caducidadD)">
                                                <i class="fas fa-upload"></i> {{titul.titulo}} &nbsp;&nbsp;&nbsp;
                                            </h6>    
                                         </td>
                                </span>
        
                                <hr>
                                <table class="table table-sm">
                                    <thead class="grey lighten-1  text-white">
                                        <tr>
        
                                            <th>Título </th>
                                            <th>Nombre </th>
                                            <th> Fecha de carga</th>
                                            <th> Fecha de Caducidad</th>
                                            <th>Restan</th>
                                            <th *ngIf="tipoUsuario == 'A2020'">Descargar</th>
                                            <th *ngIf="tipoUsuario == 'A2020'">Borrar</th>
        
        
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="!getDocus">
                                        <tr *ngFor="let item of data">
        
                                            <td class="text-uppercase">{{item.titulo}}</td>
                                            <td>{{item.nombreDocumento}}</td>
                                            <td>{{item.fechaSubido | date: 'fullDate'}}</td>
                                            <td *ngIf="item.caducidad">{{item.caducidad | date: 'fullDate'}}</td>
                                            <td class="text-primary" *ngIf="!item.caducidad">Sin caducidad</td>
                                            <td class="" *ngIf="item.dif >= 60">{{item.dif }} Días</td>
                                            <td class=" text-danger" *ngIf="item.dif < 60 && item.caducidad">{{item.dif }} Días</td>
                                            <td class=" text-danger" *ngIf="item.dif < 60  && !item.caducidad">--------</td>
                                            <td class="a cursor" *ngIf="tipoUsuario == 'A2020'">
                                                <a class="a" [href]="item.ruta" target="_blank" rel="noopener noreferrer">
                                                    <i class="fas fa-cloud-download-alt"></i> Descargar
                                                </a>
                                            </td>
                                            <td class="a cursor" (click)="borrar(item)" *ngIf="tipoUsuario == 'A2020'">
                                                <i class="fas fa-trash-restore-alt"></i> Borrar
                                            </td>
        
        
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="getDocus">
                                        <tr>
                                            <td colspan="6" class="h4 text-warning text-center">Sin documentos adjuntos.</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </mdb-tab>
                        <mdb-tab  title="Puestos"><ng-template mdbTabTitle><span><i class="fas fa-vote-yea"></i> Asignar puestos</span></ng-template>
                            <form class="form-row text-center container" #coP="ngForm" (ngSubmit)="submitPuesto(coP)">
                                <div class="col-md-12">
                                    <div class="md-form col-4">
                                        <mdb-form-control>
                                            <mdb-select [multiple]="true" name="puestos" [(ngModel)]="contratosE">
                                              <mdb-select-all-option>Select all</mdb-select-all-option>
                                              <mdb-option *ngFor="let option of puestos" [value]="option.value">{{
                                                option.label
                                              }}</mdb-option>
                                            </mdb-select>
                                            <label mdbLabel class="form-label">Example label</label>
                                          </mdb-form-control>
                                    </div>
                                </div>
                                <hr>
                               <div class="col-4">
                                <input type="hidden" name="idServicio" [(ngModel)]="idServicio">
                                <input type="hidden" name="nEmpleado" [(ngModel)]="emp_numero">
                                <button type="submit" mdbBtn  class="btn btn-secondary" aria-label="Close"  mdbWavesEffect>Aceptar</button>
                               </div>
                            </form>
                         
                        </mdb-tab>
                      </mdb-tabs>
                </div>
            </div>
        </div>



            <!-- Modificar trabajador -->
    <!-- Modificar trabajador -->
    <!-- Modificar trabajador -->
    <div class="row" *ngIf="editar">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="col-md-1">
            <img [src]="employees.foto" alt="avatar" width="100">
        </div>
        <div class="col-md-2 aa top" >
            <button class="btn btn-secondary" (click)="volverPerfil(employees)"><i class="fas fa-sign-out-alt"></i> Volver al perfil</button>
            <hr class="hr">
            <span class="text-primary"> {{employees.nombre}} {{employees.apellidos}}</span>
            <hr class="hr">

        </div>
          <div class="col-md-7 top">
            <mdb-tabs [pills]="true">
                <mdb-tab>
                   <ng-template mdbTabTitle><span><i class="fas fa-chart-pie fa-fw me-2"></i>Editar solo el turno</span></ng-template>
        
                        <div class=" row ">
                            <form class="form-row text-center" #pue="ngForm" (ngSubmit)="edirPuesto(pue,employees.descripcion)">
                                <div class="col-md-4">
                                    <label for="inputEmail4">Turno</label>
                                    <select class="form-select" name="turno" [(ngModel)]="employees.turno" required (change)="check($event)">
                                    <option selected>Seleccione un turno</option>
                                    <option [value]="item.turno"  *ngFor="let item of turnos">{{ item.descripcion}}</option>
                                    
                                </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="inputEmail43">Fecha Cambio</label>
                                    <input type="date" name="fechaCambio" #fe class="form-control" [(ngModel)]="fechaCambio" required (change)="vacacionesTurnos(fe.value, employees.nEmpleado)">
                                </div>
                                <br>
                                <div class="col-md-11 alert alert-secondary tb container" *ngIf="vacaciones">
                                    SE HAN DETECTADO VACACIONES ASIGNADAS QUE SE BORRARÁN AL CAMBIAR DE TURNO, ¿QUIERES DESCARGARLAS PREVIAMENTE
                                </div>
                                <div class="col-md-12" *ngIf="!btnEditar && vacaciones">
                                    <button (click)="descargas(employees.nEmpleado)" [disabled]="pue.invalid" type="submit" mdbBtn size="sm" outline="true" class=" btn btn-outline-success btn-sm btn-sm" mdbWavesEffect>    
                                        <i class="far fa-file-excel"></i> Aceptar y descargar vacaciones</button> &nbsp;&nbsp;
                                        <button [disabled]="pue.invalid" type="submit" mdbBtn  size="sm" outline="true" class=" btn btn-outline-dark btn-sm btn-sm" mdbWavesEffect>
                                            <i class="far fa-save"></i> Aceptar sin descargar vacaciones</button>
                                </div>
                                <div class="col-md-6 tb" *ngIf="!btnEditar && !vacaciones">

                                    <button [disabled]="pue.invalid" type="submit" mdbBtn  size="sm" outline="true" class=" btn btn-primary btn-sm" mdbWavesEffect><i class="fas fa-save"></i> Aceptar cambio</button>
                                </div>
                                <input type="hidden" name="nEmpleado" [(ngModel)]="employees.nEmpleado">
                                <input type="hidden" name="turnos" [(ngModel)]="employees.idTurno">
                                <input type="hidden" name="idServicio" [(ngModel)]="idServicio">
                            </form>
                        </div>

                        <div class=" alert alert-primary text-center animated zoomIn" *ngIf="btnEditar ">
                            <h4 class="modal-title w-100" id="myModalLabel"> <span class="spinner-grow spinner-grow-sm">
                            </span> <span class="sr-only text-center">Loading...</span> Generando plantilla...</h4>
                        </div>
                                    
                </mdb-tab>


                <mdb-tab >
                  <ng-template  mdbTabTitle ><span><i class="fas fa-briefcase-medical fa-fw me-2"></i>Agregar Jutificaciones</span></ng-template>
                  <!-- Justifaciones -->
                  <form class="form-row text-center container" #addJ="ngForm" (ngSubmit)="addJus(addJ)">
                    <div class="col-md-6">
                        <label for="inputEmail4">Justificación</label>
                        <select class="form-select" (change)="addChangeJu($event)">
                            <option selected>Seleccione una Justificación</option>
                        <option [value]="item.idJusti"  *ngFor="let item of just">{{ item.detallesJ}}</option>
                        
                    </select>
                    </div>

                    <div class="col-md-6">
                        <label for="inputEmail43">Fecha Inicio</label>
                        <input type="date" name="fechaInicio" class="form-control" [(ngModel)]="fechaCambio" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail43">Fecha Fin</label>
                        <input type="date" name="fechaFin" class="form-control" [(ngModel)]="fechaFin">
                    </div>
                    <div class="col-md-12 top" *ngIf="!btnEditar">
                        <button [disabled]="addJ.invalid" type="submit" mdbBtn  class="btn btn-primary btn-sm" mdbWavesEffect><i class="fas fa-save"></i> Guardar</button>
                    </div>
                    <input type="hidden" name="nEmpleado" [(ngModel)]="employees.nEmpleado">
                    <input type="hidden" name="justificacion" [(ngModel)]="employees.idJustificacion" required>
                    <input *ngIf="eP1" type="hidden" name="nEmpleado" [(ngModel)]="employees.nEmpleado" required>
                    <input *ngIf="eP1" type="hidden" name="idServicio" [(ngModel)]="idServicio" required>

                </form>
                <div *ngIf="btnEditar" class="alert alert-info col-md-12 text-center animated zoomIn h4" role="alert">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Loading...</span> Generando plantilla...
                </div>
            
            <p class="alert alert-secondary">Si desconoces la fecha fin de la justificación, deja el campo vacío. Recuerda actualizar la fecha fin cuando la conozcas.</p>
                </mdb-tab>

                <mdb-tab>
                  <ng-template mdbTabTitle><span><i class="fas fa-comment-alt fa-fw me-2"></i> Agregar Comentario</span></ng-template>
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-6">
                        <h5 class="mt-1 mb-2 alert alert-primary text-center" *ngIf="coment">{{coment}}</h5>
                        <div class="md-form ml-0 mr-0">
                          <input type="text" #come name="come" [(ngModel)]="com" type="text" id="form29" class="form-control " mdbInput>
                          <label for="form29" class="ml-0">Cambie el comentario</label>
                      </div>
                    </div>
                  </div>

                <div class="text-center mt-4">
                    <button class="btn btn-primary btn-sm" (click)="addCo(come)"  mdbWavesEffect><i class="fas fa-save"></i> Aceptar </button>
                </div>
                </mdb-tab>
              </mdb-tabs>
          </div>
          <hr class="hr">
          

        <div class="col-md-2 aa top ">
            <p class="alert alert-dark text-center">{{employees.descripcion}}</p>
        </div>


        <div class="top container col-md-9">

            <form #editOperario="ngForm" (ngSubmit)="aeditarPersonal(editOperario ,employees.descripcion)">
                <div class="row">
                    <div class="col-md-3">
                        <label for="inputEmail4">Nombre</label>
                        <input type="text" placeholder="Nombre" [(ngModel)]="employees.nombre" name="nombre" required class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4">Apellidos</label>
                        <input type="text" placeholder="Apellidos" [(ngModel)]="employees.apellidos" name="apellidos" required class="form-control">

                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4">Nro. Empleado</label>
                        <input type="text" autocomplete="off" (keyup)="consultaEmpleado(nEmplea)" #nEmplea placeholder="Nro. Empleado" [(ngModel)]="employees.nEmpleado" name="nEmpleado" class="form-control" required>

                    </div>
                    <div class="alert alert-danger" *ngIf="error">
                        <p>Número de Empleado repetido</p>
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4">DNI/NIF</label>
                        <input type="text" placeholder="DNI/NIF" [(ngModel)]="employees.dni" name="dni" class="form-control" required>

                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-3">
                        <label for="inputEmail4">Fecha Inicio</label>
                        <input type="date" name="fechaInicio" class="form-control" [(ngModel)]="employees.fechaInicio" required>
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4">Fecha Nacimiento</label>
                        <input type="date" name="fechaNacimiento" class="form-control" [(ngModel)]="employees.fechaNacimiento" required>

                    </div>

                    <div class="col-md-3">
                        <label for="inputEmail4">Contrato</label>
                        <select class="form-select text-uppercase" name="contrato" required [(ngModel)]="employees.contrato" (change)="cambioPuesto($event.target)">
                        <option selected>Seleccione un contrato</option>
                        <option class="text-uppercase" [value]="item.idContrato"  *ngFor="let item of contratos">{{ item.nombre}}</option>
                        
                    </select></div>
                    <div class="col-md-3">
                        <label for="inputEmail4">Teléfono</label>
                        <input type="text" placeholder="Teléfono" [(ngModel)]="employees.telefono1" name="telefono1" required class="form-control">
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-3">
                        <label for="inputEmail4">Teléfono opional</label>
                        <input type="text" placeholder="Teléfono opcional" [(ngModel)]="employees.telefono2" name="telefono2" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4">Email opional</label>
                        <input type="text" placeholder="Email opcional" [(ngModel)]="employees.email" name="email" class="form-control">
                    </div>
                    <input type="hidden" name="turno" [(ngModel)]="employees.turno">

                    <div class="col-md-3">
                        <label for="inputEmail4">Puesto</label>
                        <select class="form-select" name="puesto_id" required [(ngModel)]="employees.puesto_id" (change)="cambioPuesto($event.target)">
                        <option selected>Seleccione un puesto</option>
                        <option [value]="item.value"  *ngFor="let item of puestos">{{ item.label}}</option>
                        
                    </select></div>
                    <div class="col-md-3">
                        <label for="inputEmail4">Plus</label>
                        <select class="form-select" name="bocadillo" required [(ngModel)]="employees.bocadillo">
                        <option value="B">B</option>
                        <option value="N">Sin plus</option>
                        
                        
                    </select></div>
                    <div class="col-md-3">
                        <label for="inputEmail43">Fecha Cambio</label>
                        <input type="date" name="fechaCambio" class="form-control" ngModel required>
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4">Categoría</label>
                        <input type="text" placeholder="CATEGORÍA" [(ngModel)]="employees.categoriaE" name="categoriaE" class="form-control">

                    </div>
                    <div class="col-md-3 t " *ngIf="!bot && !error">
                        <button [disabled]="editOperario.invalid" type="submit" class="btn btn-outline-success btn-block" mdbWavesEffect><mdb-icon far icon="check-circle"></mdb-icon> GUARDAR CAMBIOS</button>
                    </div>
                    <div class="col-md-6 t " *ngIf="bot">
                        <div mdbBtn color="primary" type="div" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Generando plantilla anual ...
                        </div>
                    </div>
                </div>


                <input type="hidden" name="foto" [(ngModel)]="employees.foto">
                <input type="hidden" name="id" [(ngModel)]="employees.id">
                <input type="hidden" name="activo" [(ngModel)]="employees.activo">
            </form>
        </div>
    </div>
   <br>
</section>
