<div class="row top" *ngIf="!pri">
    <div class="col-md-2 top1">
        <button (click)="exportAsXLSX()" mdbBtn class="btn btn-success" mdbWavesEffect>
            <i class="fas fa-file-excel"></i>
        </button>
        &nbsp;
        <button (click)="print('v-pills-profile1')" mdbBtn class="btn btn-danger" mdbWavesEffect>
            <i class="far fa-file-pdf"></i>
        </button>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-6 alert alert-secondary  text-center">
        INFORME DE HORAS NO TRABAJADAS POR SECCIÓN

    </div>
</div>



<section class="top animate__animated animate__fadeIn" id="v-pills-profile1" *ngIf="!pri">


    <table class="table datatable-table table-sm"
    mdbTable
    mdbTableSort
    #table="mdbTable"
    #sort="mdbTableSort"
    [dataSource]="data"
    [sort]="sort">

    <thead class="grey lighten-1  text-white">
        <tr>
            <th>SECCIÓN</th>
            <th>ID. SEC.</th>
            <th>ENERO</th>
            <th>FEBRERO</th>
            <th>MARZO</th>
            <th>ABRIL</th>
            <th>MAYO</th>
            <th>JUNIO</th>
            <th>JULIO</th>
            <th>AGOSTO</th>
            <th>SEPTIEMBRE</th>
            <th>OCTUBRE</th>
            <th>NOVIEMBRE</th>
            <th>DICIEMBRE</th>
          </tr>
        </thead>
        <tbody *ngIf=" !loading" class="datatable-body" >
            <tr *ngFor="let puestoData of datos">
                <td>{{ puestoData.descripcionPuesto }}</td>
                <td>{{ puestoData.puesto }}</td>
                <!-- Mostrar los datos de todos los meses hasta el mes actual -->
                <td *ngFor="let mes of months">
                    <!-- Si el mes es anterior o el mes actual, mostramos el valor de ausentes -->
                    <ng-container *ngIf="mes <= currentMonth; else futuroMes">
                      {{ puestoData.meses[mes]?.ausentes || '-----' }}
                    </ng-container>
                    
                    <!-- Si el mes es futuro, mostramos "-----" -->
                    <ng-template #futuroMes>
                      -----
                    </ng-template>
                  </td>
              </tr>
              
                <!-- Pie de tabla con los totales -->
                <tr class="alert alert-warning">
                    <td colspan="2">TOTALS</td>
                    <td *ngIf="1 <= currentMonth">{{totalEnero | number}}</td>
                    <td *ngIf="2 <= currentMonth">{{totalF | number}}</td>
                    <td *ngIf="3 <= currentMonth">{{totalM | number}}</td>
                    <td *ngIf="4 <= currentMonth">{{totalA | number}}</td>
                    <td *ngIf="5 <= currentMonth">{{totalMa | number}}</td>
                    <td *ngIf="6 <= currentMonth">{{totalJu | number}}</td>
                    <td *ngIf="7 <= currentMonth">{{totalJul | number}}</td>
                    <td *ngIf="8 <= currentMonth">{{totalAgo | number}}</td>
                    <td *ngIf="9 <= currentMonth">{{totalSep | number}}</td>
                    <td *ngIf="10 <= currentMonth">{{totalOct | number}}</td>
                    <td *ngIf="11 <= currentMonth">{{totalNo | number}}</td>
                    <td *ngIf="12 <= currentMonth">{{totalDic | number}}</td>
                  </tr>
              </tbody>
      
    </table>
    <ng-container *ngIf="loading">
        <div class="datatable-loader bg-light">
          <span class="datatable-loader-inner">
            <span class="datatable-progress bg-primary"></span>
          </span>
        </div>
        <p class="text-center text-muted my-4">Cargando resultados...</p>
      </ng-container>
    <hr>

</section>



