
<app-menu></app-menu>
<div class="page-wrap">
    <div class="page-not-found">
      <img src="https://res.cloudinary.com/razeshzone/image/upload/v1588316204/house-key_yrqvxv.svg" class="img-key" alt="">
      <h1 class="text-xl">
        <span>4</span>
        <span>0</span>
        <span class="broken">3</span>
      </h1>
      <h1 class="text-danger">Acceso Denegado!</h1>
      <hr>
      <h4 class="text-sm text-sm-btm">Usted no tiene permiso para acceder al la página solicitada. Por favor contacte con el administrador del sistema  <a href="mailto:dpennisi@randstad.es">dpennisi&#64;randstad.es</a> </h4>
    </div>
  </div>
