<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <form #action="ngForm" (ngSubmit)="addPerfil(action)">

  <div class="modal-body">
     <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control" name="nombrePerfil" [(ngModel)]="text" required>
        <label mdbLabel class="form-label" for="form1">Nombre del perfil</label>
      </mdb-form-control>

      <input type="hidden" [(ngModel)]="param" name="idPerfil">
          
  </div>
  <div class="modal-footer">
    <button  type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button *ngIf="!btn"  [disabled]="action.invalid" type="submit" class="btn btn-primary">OK</button>
    <button *ngIf="btn" class="btn btn-primary" type="button" disabled>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Loading...</span>
      </button>
</div>
</form>