<app-menu></app-menu>

<section class="top animate__animated animate__fadeIn">

    <div class="main">
        <div class="row">
            <div class="col-md-5">
                <app-menu-s></app-menu-s>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <span class="input-group-text " id="search-addon"><i class="fas fa-search"></i></span>
                    <input autocomplete="off" (keyup)="search($event)" [(ngModel)]="filterQuery" type="search" class="form-control rounded" placeholder="Buscar empleado" aria-label="Search"
                      aria-describedby="search-addon" />
                  </div>
            </div>
            <div class="col-md-2 tops">

                <button (click)="exportAsXLSX()" mdbBtn class="btn btn-outline-success" type="button"  mdbWavesEffect>
                    DESCARGAR LISTADO &nbsp;<i class="far fa-file-excel  fa-lg "></i>
                 </button>
                <!-- <mdb-icon size="2x" class="text-success cursor" fas icon="file-excel" (click)="exportAsXLSX()"></mdb-icon> -->
            </div>

        </div>
        <div class="row top">
            <div class="col">
                <a (click)="getJustifEmpleados(1)" class="btn btn-outline-danger" [ngClass]="{'actives': valor == 0}" role="button" aria-pressed="true">JUSTIFICACIONES ACTIVAS</a>&nbsp;
                <a (click)="getJustifEmpleados(0)" class="btn btn-outline-danger" [ngClass]="{'actives': valor == 1}" role="button" aria-pressed="true">JUSTIFICACIONES HISTÓRICO</a>
            </div>
            <div class="col" *ngIf="valor == 1">
                <form #action="ngForm" (ngSubmit)="buscar(action)">
                    <div class="row form-row">
                        <div class="col-md-5">
                            <p class="text-center text-primary">Fecha Inicio</p>
                            <input type="date" required name="fechaInicio" ngModel class="form-control form-control-sm">

                        </div>
                        <div class="col-md-5">
                            <p class="text-center text-primary">Fecha Fin</p>
                            <input type="date" name="fechaFinal" ngModel class="form-control form-control-sm">
                        </div>

                        <input type="hidden" name="idServicio" [(ngModel)]="idServicio">

                        <div class="col-md-2 topsBtn">
                            <button [disabled]="action.invalid" type="submit" mdbBtn  class=" btn btn-primary btn-sm topsBtn" mdbWavesEffect>
                                <i class="fas fa-search"></i>
                            </button>
                            <!-- <button *ngIf="valor == 1" type="button" (click)="reload()" mdbBtn color="secondary" size="sm" class=" waves-light" mdbWavesEffect>
                               Quitar filtro
                            </button> -->
                        </div>


                    </div>
                </form>
                <hr>
            </div>
            <div class="col text-center">
                <div class="alert alert-danger" *ngIf="valor == 0">
                    Empleados ausentes: {{dataTotal}}
                </div>
            </div>
            <div class="col-md-3 text-capitalize" *ngIf="valor == 0">
                <mdb-form-control>
                    <mdb-select (ngModelChange)="getSelectedValueJu($event)" [(ngModel)]="selectedValueJu" placeholder="Filtro Por Justificaciones">
                        <mdb-option *ngFor="let option of dataJu" [value]="option.value">{{ option.label }}</mdb-option>
                </mdb-select>
            </mdb-form-control>

            </div>

        </div>
        <div class="row animated fadeIn fadeIn">

            <table class="table datatable-table table-sm"  
             mdbTable
            mdbTableSort
            #table="mdbTable"
            #sort="mdbTableSort"
            [dataSource]="dataSource"
            [sort]="sort"
            [pagination]="pagination">
                <thead class="grey lighten-1  text-white ">
                    <tr>
                        <th>N° Empleado</th>
                        <th>Nombre </th>
                        <th>Apellidos </th>
                        <th class="text-center">Justificación</th>
                        <th class="text-center">Inicio</th>
                        <th class="text-center">Fin</th>
                        <th *ngIf="tipoUsuario == 'A2020'" class="text-center">Alta</th>
                        <th *ngIf="tipoUsuario == 'A2020' && valor == 0" class="text-center">Borrar</th>

                    </tr>
                </thead>
                <tbody class="text-uppercase datatable-body" *ngIf="dataSource.length > 0 && !loading">
                    <tr *ngFor="let item of table.data">
                        <td>{{item.nEmpleado}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.apellidos}}</td>
                        <td class="cursor q text-primary" (click)="func2(cambio,  item.nEmpleado,item.nombre,item.apellidos,item.detallesJ,item.fechaInicioJ , item.fechaFinJ,item.idJE)">{{item.detallesJ}} </td>
                        <td>{{item.fechaInicioJ | date: 'fullDate'}}</td>
                        <td>{{item.fechaFinJ | date: 'fullDate'}}</td>
                        <td *ngIf="tipoUsuario == 'A2020' && item.estadoJ == 0" (click)="darAlata(item.nEmpleado,item.idJE,item.nombre,item.apellidos  ,frame)" class="cursor text-center q  text-primary">
                            <i class="fas fa-check-square  fa-lg"></i>
                        </td>
                        <td  *ngIf="tipoUsuario == 'A2020' && item.estadoJ == 1" class=" cursor q  text-danger">
                            Alta confirmada
                        </td>
                        <td (click)="borar1(item.nEmpleado,item.idJE,item.fechaInicioJ , item.fechaFinJ  ,'borrar')" *ngIf="tipoUsuario == 'A2020' && item.estadoJ == 1" class=" cursor q  text-danger">
                            <i class="fas fa-trash-alt  fa-lg"></i>
                        </td>
                        <td *ngIf="tipoUsuario == 'A2020' && item.estadoJ == 0" (click)="borar(item.nEmpleado,item.fechaInicioJ , item.fechaFinJ,item.nombre,item.apellidos,item.idJE  ,basicModal)" class="cursor text-center q  text-danger">
                            <i class="fas fa-trash-alt  fa-lg"></i>
                        </td>


                    </tr>
                </tbody>
                <tr *ngIf="dataSource.length == 0 && valor == 0">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="h2 text-danger">Sin justificaciones </td>
                </tr>
                <tr *ngIf="dataSource.length == 0 && valor == 1">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="h2 text-danger">Buscar justificaciones por fechas </td>
                </tr>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <mdb-table-pagination rowsPerPageText="Lineas por página" ofText="De" #pagination></mdb-table-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <ng-container *ngIf="loading">
                <div class="datatable-loader bg-light">
                  <span class="datatable-loader-inner">
                    <span class="datatable-progress bg-primary"></span>
                  </span>
                </div>
                <p class="text-center text-muted my-4">Cargando resultados...</p>
              </ng-container>
        </div>
    </div>
</section>