.modal-header {
    background: #000000;
}

.tops {
    margin-top: -4px;
}

.actives {
    background: hsl(2, 89%, 59%)!important;
    color: #ffffff!important;
}

.top1 {
    margin-top: 32px;
}

.topsBtn {
    margin-top: 20px;
}