

  <hr class="hrs">

  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['../../Consultas/Consultas-Anteriores']">
            <i class="fas fa-user-friends"></i> Empleados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['../../Consultas/Consultas-Anteriores-Horarios']">
            <i class="fas fa-user-clock"></i> CONTROL HORARIO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['../../Consultas/Consultas-Anteriores-Informes']">
            <i class="fas fa-download"></i> INFORMES</a>

    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" routerLinkActive="active"  [routerLink]="['../../Main/home']">
            <i class="fas fa-sign-out-alt "></i> Salir</a>

    </li>
</ul>
